// variables
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$primary: #326dee;
$secondary: #5b5959;
$error: #d32752;
$info: #f6c31c; 

$basePadding: 5px;
$baseMargin: 5px;
$baseFontSize: 10px;
$defaultFontFamily: 'Pacifico', cursive;